# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# favicons, etc.
*.icns
*.ico

# foreign libraries
bootstrap*/
d3.min.js
jquery*
jquery*/

# ipython
*.ipynb_checkpoints/

# distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# installer logs
pip-log.txt
pip-delete-this-directory.txt

# unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# translations
*.mo

# mr Developer
.mr.developer.cfg
.project
.pydevproject

# sphinx documentation
docs/_build/

# diagrams
*.graffle
.DS_Store
