

line, path {
	fill: none;
	stroke: gray;
	shape-rendering: crispEdges;
}

.xAxis {
	font-size: 10px;
	font-family: sans-serif;
	shape-rendering: crispEdges;
}

.tick {
	fill: navy;
	stroke: none;
}

.tick > text {
	font-style: normal;
	font-size: 11px;
	font-style: bold;
	font-family: "san serif";
}

.enter {
	/*fill: #3B7A57;*/
}

.update {
	/*fill: #062A78;*/
}

.exit {
	/*fill: #D3212D;*/
}

#nctu #ntlu {
	margin-left: 7px;
	margin-top: 5px;
	text-align: center;
	width: 30px;
	height: 15px;
	font-size: 16px;
	font-color: #0047AB;
	font: "Gill Sans Light" ;
}

#widgets {
	min-width: 125px;
	margin-top: 30px;
	margin-left: 30px;
}

#btn1 {
	margin-bottom: 10px;
	padding-bottom: 5px;
}

table {
	border-collapse: collapse;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

tr {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#val {
	text-align: right;
	background: #91A3B0;
	color: #FFFFFF;
}

#name {
	text-align: left;
}