
* {
	margin: 0;
}

html {
	height: 100%;
	background-color: #ccc;
}


body {
	background-color: white;
	width: min-height: 100%;
}


svg {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.grid {

}


#slider {
	width: 120px;
	height: 5px;
	margin-top: 10px;
	margin-left: 20px;
}

ui-slider .ui-slider-handle {
	width: 10px;
	height: 5px;
	margin-left: -5px;
	margin-top: 2px;
}